.container {
    width: 70%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.data {
    width: 45%;
    margin: auto;
    padding: 10px;
}

.data input {
    margin: 5px;
}

.left {
    float: left;
    text-align: right;
}

.right {
    float: right;
    text-align: left;
}

.board td {
    border-radius: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: blue;
    font-size: 25px;
}

.footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-align: right;
    color: darkgray;
    font-size: 12px;
}
